<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Post</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>View Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div class="articleCard">
        <h2>
          <%= post.title%>
        </h2>
      <p><%= post.description%></p>
        <p><a href="<%= post.link %>"><%= post.link %></a></p>
        <p>Subgroup: <%= post.subgroup %></p>
        <p>Posted on: <%= new Date(post.timestamp).toLocaleString("en-US", {
          month: "long",
            day: "numeric",
            year: "numeric"
          }) %></p>
      </div>
    </main>
  </body>
</html>
