<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Post</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>View Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div class="articleCard">
        <h2>
          <%= post.title%>
        </h2>
      <p><%= post.description%></p>
        <p><a href="<%= post.link %>"><%= post.link %></a></p>
        <p>Subgroup: <%= post.subgroup %></p>
        <p>Posted on: <%= new Date(post.timestamp).toLocaleString("en-US", {
          month: "long",
            day: "numeric",
            year: "numeric"
          }) %></p>
        <p>Posted by: <%= post.creator.uname %> </p>
        <div class="voteContainer">
          <p><%= score %></p>
          <div class="voteButtonWrapper">
            <%# this is so unreadable I'm sorry%>
            <% if ( user && user.id) {%>
            <form action="/posts/vote/<%=post.id%>" method="post">
              <button class="voteButton <% if(voted && voted === 1) {
              %>
              votedUp
              <%
              }%>">+</button>
              <input type="hidden" name="value" id="value" value="<% if (voted && voted === 1 ){%>
            0            <% } else{ %>
            +1 <% } %>">
              <input type="hidden" name="userID" id="userID" value="<%= user.id %>">
              <input type="hidden" name="postID" id="postID" value="<%= post.id %>">
            </form>
            <form action="/posts/vote/<%=post.id%>" method="post">
              <button class="voteButton <% if(voted && voted === -1){ %>votedDown<% } %>">-</button>
              <input type="hidden" name="value" id="value" value="<% if(voted && voted === -1){ %> 0 <% } else {  %>-1 <% } %>">
              <input type="hidden" name="userID" id="userID" value="<%= user.id %>">
              <input type="hidden" name="postID" id="postID" value="<%= post.id %>">
            </form>
            <% } %>
          </div>
        </div>
        <div>
          <% if(user && user.id && user.id === post.creator.id) {%>
            <a href="/posts/edit/<%= post.id %>"><button>Edit</button></a>
            <a href="/posts/deleteconfirm/<%= post.id %>"><button>Delete</button></a>
          <% }%>
        </div>
        <div>
          <% if(authenticated){%>
          <form action="/posts/comment-create/<%= post.id %>" method="post">
            <label for="commentContent">Comment:</label>
            <input name="commentContent" id="commentContent" type="text">
            <button type="submit">Submit</button>
          </form>
          <% }%>
        </div>
        <% post.comments.forEach((comment) => { %>
        <div class="commentWrapper">
          <p><%= comment.description %></p>
          <div class="commentMetadataWrapper">
            <p><%= new Date(comment.timestamp).toLocaleString("en-us", {
                month: "long",
                day: "numeric",
                year: "numeric"
              })%></p>
            <p><%= comment.creator.uname %></p>
          </div>
        </div>

         <% }) %>
      </div>
    </main>
  </body>
</html>
