<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Sub posts</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Sub Posts</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
      <% posts.forEach((post)=>{%>
        <div class="articleCard">
          <a href="/posts/show/<%= post.id %>">
          <h3>
            <%= post.title %>
          </h3>
          <p> <%= post.description %></p>
            <div class="voteContainer">
              <p><%= post.score %></p>
              <div class="voteButtonWrapper">
                <%# this is so unreadable I'm sorry%>
                <% if ( user && user.id) {%>
                <form action="/posts/vote/<%=post.id%>" method="post">
                  <button class="voteButton <% if(post.voted && post.voted === 1) {
                  %>
              votedUp
              <%
                  }%>">+</button>
                  <input type="hidden" name="value" id="value" value="<% if (post.voted && post.voted === 1 ){%>
            0            <% } else { %>
            +1 <% } %>">
                  <input type="hidden" name="userID" id="userID" value="<%= user.id %>">
                  <input type="hidden" name="postID" id="postID" value="<%= post.id %>">
                </form>
                <form action="/posts/vote/<%=post.id%>" method="post">
                  <button class="voteButton <% if(post.voted && post.voted === -1){ %>votedDown<% } %>">-</button>
                  <input type="hidden" name="value" id="value" value="<% if(post.voted && post.voted === -1){ %> 0 <% } else {  %>-1 <% } %>">
                  <input type="hidden" name="userID" id="userID" value="<%= user.id %>">
                  <input type="hidden" name="postID" id="postID" value="<%= post.id %>">
                </form>
                <% } %>
              </div>
            </div>
          <p><a href="<%= post.link %>"><%= post.link %></a></p>
          </a>
        </div>

        <% });%>
      </div>
    </main>
  </body>
</html>
